body {
  margin: 0px;
  padding: 0px;
  min-width: 1200px;
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase; 
  background-color: #f2f2f2;   
}

a { 
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.wrapper-block {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0px auto;
  box-shadow: 0px -5px 10px 5px #dbdbdb;
}

.main-header {
  background-color: #ffffff;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.main-navigation {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 56px;
}

.site-navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 0px;
  min-height: 56px;
}

.site-navigation li {
  width: 300px;
  box-sizing: border-box;
  padding: 0px;
}

.site-navigation li:nth-child(1) {
  text-align: left;
  padding-left: 72px;
}

.site-navigation li:nth-child(2) {
  text-align: left;
  padding-left: 13px;
}

.site-navigation li:nth-child(3) {
  text-align: right;
  padding-right: 17px;
}

.site-navigation li:nth-child(4) {
  text-align: right;
  padding-right: 72px;
}

.main-header-logo {
  width: 140px;
  height: 71px;
  position: absolute;
  order: 3;
  z-index: 1;
}

.site-navigation a {
  color: #000000;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #cacaca;
}

.site-navigation-current {
  color:#766357;
  font-weight: 700;
}

.promo {
  background-color: #ffffff;
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat; 
  background-position: 0px -55px;
  position: relative;
  text-align: center;
  padding-top: 76px;
  padding-bottom: 74px;
}

.promo::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 57px;
  width: 1200px;
  background-image: url("../img/polygon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo-title {
  background-color: #ffffff;
  box-sizing: border-box;
  min-height: 215px;
  width: 636px;
  padding: 59px 105px 50px;
  width: auto;
}

.title {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0px 250px 27px;
}

.promo-title p {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  margin: 0px;
  color: #333333;
}

.reasons {
  text-align: center;
  background-color: #81b3d2;
}

.reason-block {
  display: flex;
  color: #ffffff;
  min-height: 256px;
}

.reason-block-text {
  text-align: center;
  width: 400px; 
}

.reason-block-text h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  width: 200px;
  margin: 0px auto 5px;
  padding-top: 47px;
}

.reason-block-text p {
  margin: 0px auto;
  padding-top: 20px; 
}

.block-text {
  width: 310px;
  font-size: 14px ;
  line-height: 21px;
  font-weight: 400;
}

.reason-block-jmg {
  height: 256px;
  width: 800px;
}

.reason-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  background-color: #ffffff;
  text-align: center;
  list-style: none;
  position: relative;
  margin: 0px;
  padding: 0px;
}

.reason-item {
  background-position: center;
  background-repeat: no-repeat;
  width: 400px; 
  position: relative;
  padding-top: 142px;
  padding-bottom: 69px;
  padding-left: 50px;
  padding-right: 50px;
}

.reason-item img {
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -37px;
}

.reason-item h3 {
  font-size: 21px ;
  line-height: 21px;
  font-weight: 700;
}

.reason-item p {
  font-size: 14px ;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin-top: 20px; 
}

.reason-numbers {
  display: flex;
  justify-content: space-around;
  text-align: center;
  list-style: none;
  background-color: #eeeeee ;
  margin: 0px;
  padding: 0px;
  padding-top: 46px;
  min-height: 210px;
}

.reasons-numbers-item {
  background-position: center;
  background-repeat: no-repeat;
  width: 400px; 
}

.reasons-numbers-item h3 {
  display: inline-block;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  padding-top: 0 auto;
  margin: 0 auto;
  width: 160px;
}

.reasons-numbers-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 0 auto;
  padding-top: 22px;
  width: 265px; 
}

.search {
  position: relative;
  background-color: #ffffff;
  text-align: center;
  padding-top: 50px; 
}

.search h2 {
  font-size: 30px ;
  line-height: 36px;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
  margin-bottom: 25px;  
}

.search-info {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 47px;
}

.search-button {
  background-color: #766357;
  color: #ffffff;
  width: 568px;
  min-height: 86px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  border-style: none;
}

.search-button:hover,
.search-button:focus {
  background-color: #604e43;
  color: #ffffff;
}

.search-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.map {
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-height: 470px;
}

.map-iframe {
  position: relative;
  min-height: 593px;
  width: 1200px;
  border: none;
}

.map p {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
}

.search-form {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 568px;
  min-height: 395px;
  box-sizing: border-box; 
  box-shadow: 0px 5px 15px rgba(1, 1, 1, 0.2);
  background-color: #ffffff;
  padding: 54px;
  top: 100%;
  left: 50%;
  margin-left: -284px;
  z-index: 2;
}

.modal-search-show {
  display: block;
  animation: popup 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.search-form p {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 28px;
}

.search-form p:nth-child(1),
.search-form p:nth-child(2) {
  position: relative;
  width: 460px; 
}

.search-form p:nth-child(3),
.search-form p:nth-child(4) {
  position: relative;
  width: 230px; 
  box-sizing: border-box;
}

.search-form p:nth-child(4) {
  padding-left: 48px;
}

.search-form label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  padding-top: 5px;
  background-color: #ffffff;
  color: #000000;
  margin-right: 15px;
}

.search-date-input,
.search-old-input {
  box-sizing: border-box;
  border: none;
  background-color: #f2f2f2;
  height: 38px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-date-input {
  box-sizing: border-box;
  width: 345px;
  padding-right: 43px;
  padding-left: 11px;
}

.search-date-input:hover {
  background-color: #ebebeb;
}

.search-date-input:focus {
  background-color: #ffffff;
  border-color: #e5e5e5;
}

.search-old-input {
  text-align: center;
  width: 115px;
  padding: 0px 35px;
  margin-left: 15px;
}

.button-calendar {
  position: absolute;
  padding: 0px;
  left: 430px;
  top: 8px;
  width: 21px;
  height: 22px;
  border-style: none;
  outline: none;
  background-color: inherit;
}

.button-calendar path {
  fill: #cacaca;
}

.button-calendar:hover path {
  fill: #000000;
}

.button-calendar:active path {
  fill: #81b3d2;
}

.button-minus {
  position: absolute;
  left: 125px;
  top: 10px;
  width: 18px;
  height: 18px;
  font-size: 18px;
  line-height: 0px;
  font-weight: 700;
  padding: 0px;
  padding-bottom: 2px;
  border-style: none;
  outline: none;
  background-color: inherit;
  color: #a9a9a9;
}

.button-plus {
  position: absolute;
  left: 200px;
  top: 10px;
  width: 18px;
  height: 18px;
  font-size: 18px;
  line-height: 0px;
  font-weight: 700;
  padding: 0px;
  padding-bottom: 2px;
  border-style: none;
  outline: none;
  background-color: inherit;
  color: #a9a9a9;
}

.button-minus:hover,
.button-plus:hover {
  color: #000000;
}

.button-minus:active,
.button-plus:active {
  color: #81b3d2;
}

.btn-search {
  width: 460px;
  min-height: 58px;
  border-style: none;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  background-color: #81b3d2;
  color: #ffffff;
  margin-top: 25px;
}

.btn-search:hover,
.btn-search:focus {
  background-color: #669ec0;
  color: #ffffff;
}

.btn-search:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.main-footer {
  display: flex;
  min-height: 120px;
  background-color: #ffffff;
}

.index-footer {
  position: relative;
  opacity: 0.9;
  margin-top: -120px;
  z-index: 2; 
}

.container {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.footer-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  width: 158px;
  margin-left: 122px;
  margin-bottom: 15px;
}

.footer-social {
  width: 170px;
  justify-content: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 29px;
  padding-left: 244px;
  width: 150px;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0; 
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88b6d1;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding-left: 348px;
  max-height: 120px;
  margin-bottom: 16px; 
  text-align: center;
}

.footer-copyright p {
  margin: 5px; 
}

.footer-copyright a {
  width: 109px;
  height: 37px;
}

.footer-copyright a:hover path,
.footer-copyright a:focus path {
  fill: #81b3d2; 
}

.footer-copyright a:active path {
  fill: #bdbbbc;
}

.filters {
  background-color: #000000;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  min-height: 217px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap; 
}

.filter-checkbox {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.checkbox-list {
  width: 255px;
}

.checkbox-list h3 {
  color: #ffffff;
  font-size : 16 px ;
  line-height : 21 px ;
  font-weight : 700 ;
  margin-bottom : 25px;
  padding-left: 72px;
  padding-top: 11px; 
}

.filter-label:before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  background: url("../img/checkbox-off.svg");
  position: absolute;
  left: 0px;
  top: 0px;
}

.filter-label {
  position: relative;
  padding-left: 40px;
  display: block;
}

.checkbox-list label {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400; 
}

.filter-input:checked ~ .filter-label:before {
  background: url("../img/checkbox-on.svg");
  width: 27px;
  height: 23px;
}

.filter-input:checked:hover ~ .filter-label:before path {
  fill: #ffffff;
}

.filter-input:checked:disabled ~ .filter-label:before path {
  fill: #6a6a6a;
}

.checkbox-list ul {
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  margin: 0px;
  padding: 0px;
}

.filter-option {
  margin-bottom: 25px;
  padding-left: 72px;
}

.filter-range {
  margin: 0px;
  width: 317px;
  color: #ffffff;
  margin-left: auto;
  padding-top: 10px;
  margin-right: 72px;
  text-transform: uppercase;
}

.filter-range-title {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 9px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;  
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0px ;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover,
.range-toggle:focus {
  border: 9px solid #ffffff;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 5px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  width: 137px;
}

.btn-transparent:hover,
.btn-transparent:focus {
  color: #000000;
  background: #ffffff;
}

.sorting {
  display: flex;
  align-items: center;
  min-height: 86px;
  width: 1200px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fefefe;
}

.sorting-block {
  display: flex;
  align-items: center;
  font-size: 12px ;
  line-height: 18px;
  font-weight: 400;
  color: #000000; 
}

.sorting-block h4 {
  font-size: 21px ;
  line-height: 26px;
  font-weight: 700;
  margin-right: 48px;
  padding-left: 72px;
}

.sorting p {
  text-align: center;
  margin: 0px;
  margin-top: 3px;
  font-size: 12px;
  line-height: 18px;
  font-size: 400;
}

.sorting-block ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  margin-top: 3px;
  list-style: none;  
}

.sorting-price {
  color: #81b3d2; 
  border-bottom: none;
}

.sorting-block a {
  color: rgba(0, 0, 0, 0.3);
  margin-left: 33px;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-block a:hover,
.sorting a:focus {
  color: #81b3d2; 
  border-bottom: 1px dotted #81b3d2;
}

.sorting-block a:active {
  color: #000000;
  border-bottom: none;
}

.sorting-links {
 margin-left: auto;
 margin-right: 72px;
 margin-top: 3px;
}

.link-top,
.link-bottom {
  background-color: transparent;
  border: none;
  padding: 0px;
  margin-left: 9px;
}

.link-top path,
.link-bottom path {
  fill: #cacaca;
}

.link-top path:hover,
.link-bottom path:hover {
  fill: #231f20;
}

.link-top path:active,
.link-bottom path:active {
  fill: #81b3d2;
}

.link-bottom-active path {
  fill: #83b4d3;
}

.hotel-catalog {
  background-color: #fefefe;
}

.hotel-item {
  display: flex; 
  flex-wrap: wrap;
  min-height: 150px;
  padding: 5px 72px;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.hotel-left {
  display: flex;
  padding-right: 150px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.hotel-img {
padding-top: 25px;
margin-right: 30px; 
}

.hotel-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  padding-top: 0px;
}

.hotel-title a:hover,
.hotel-title a:focus {
  color: #81b3d2;
}

.hotel-title a:active  {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-left p {
  margin-bottom: 14px; 
  margin-top: 8px;
  margin-right: 5px;
  color: #333333;
}

.hotel-container {
  display: flex;
  margin-top:-23px;
}

.hotel-block {
  width: 110px;
  height: 28px;  
}

.hotel-price {
  width: 140px;
  height: 28px;
}

.button {
  color: #ffffff;
  padding-left: 13px;
  padding-right: 13px;
  font-weight: 700;
  border: none;
  height: 27px;
  line-height: 27px;
  font-size: 14px;
  display: inline-block;
  padding: 0px;
}

.button-blue {
  background-color: #81b3d2;
  width: 110px;
}

.button-blue:hover,
.button:focus {
  background-color: #669ec0;
}

.button-blue:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-brown {
  background-color: #766357;
  width: 142px;
  margin-left: 5px;
}

.button-brown:hover
.button-brown:focus {
  background-color: #604e43;
}

.button-brown:active {
  background-color:#503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  
}

.raiting p {
  text-align: center;
  color: #666666;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  width: 106px;
  height: 25px;
  margin-top: 45px;
  margin-bottom: 23px;
  
  background-color: #f2f2f2;
}

.raiting-stars {
  margin-top: auto;
  text-align: right;
}

.raiting-stars span {
  display: inline-block;
  width: 18px;
  height: 17px;
  background: url("../img/star.svg");
}

